name: Test

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [dlock, gormlogger, hertzlogger, logger, requestid]
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'

    - name: Test
      working-directory: ./${{ matrix.module }}
      run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: ./${{ matrix.module }}/coverage.txt
        flags: ${{ matrix.module }}
        fail_ci_if_error: false
        token: ${{ secrets.CODECOV_TOKEN }}
